/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */


::selection {
  background: black; 
}
::-moz-selection {
  background: black; 
}

#desktop-only { display:block; }
#mobile-only { display:none; }

@media (max-width: 1050px) {
  #desktop-only { display:none; }
  #mobile-only { display:block; }
}


#typed {
	border-bottom: 7px solid rgb(1,111,185);
}

.work-item {
	padding: 10px;
}

.work-title span{
	background-color: rgb(1,111,185);
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px
	padding-bottom: 10px;
	font-size: 20px;
}