/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

::selection {
  background: black; 
}
::-moz-selection {
  background: black; 
}

#desktop-only { display:block; }
#mobile-only { display:none; }

@media (max-width: 1050px) {
  #desktop-only { display:none; }
  #mobile-only { display:block; }
}


#typed {
	border-bottom: 7px solid rgb(1,111,185);
}

.work-item {
	padding: 10px;
}

.work-title span{
	background-color: rgb(1,111,185);
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px
	padding-bottom: 10px;
	font-size: 20px;
}

/*.theme-color span{ 
	border-bottom: 4px solid rgb(1,111,185);
}*/

.imageCaption {
	font-style: italic;
	font-size: 12px;
}

.imageCaptionLine {
	border-right: 4px solid rgb(1,111,185);

}

.blockquote {
	border-left: 4px solid rgb(1,111,185);
	padding-left: 20px;
}

.blockquote p{
	font-size: 18px;
	font-style: normal;
}
