---
layout: default
title: Jamie Kwan | Experience Design & Strategy
---

<!-- HOME -->
	{% for text in page.color %}
	<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" style="background-color:{{page.color}}">
	{% endfor%}

	{% for text in page.bgimage %}
	<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" data-background="assets/images/{{page.bgimage}}.jpg">
	{% endfor%}

		<div class="hs-caption container">
			<div class="caption-content">
				<div class="hs-title-size-1 font-alt m-b-20" style="text-transform:uppercase">
					{{ page.title }}
				</div>
				<div class="hs-title-size-3 font-alt">
					{{ page.oneliner }}
				</div>
			</div>
		</div>

	</section >
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO DESCRIPTION -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<div class="col-sm-6">

						<div class="work-details">
							<h3 class="work-details-title font-alt">Project Details</h3>
							<ul>
								{% for text in page.client %}<li class="font-inc"><strong>Client: </strong>{{page.client}}</li>{% endfor %}

								{% for text in page.date %}<li class="font-inc"><strong>Date: </strong>{{ page.date }}</li>{% endfor %}
							</ul>
						</div>

					</div>

					<div class="col-sm-6">
						{{ content }}
					</div>

				</div>

			</div>

		</section>
		<!-- /PORTFOLIO DESCRIPTION -->

		<!-- PORTFOLIO CONTENT -->
		<section class="module p-t-0 p-b-0">

			<div class="container">

				<div class="row">

					<div class="col-sm-12">

						{% for image in page.images %}
						<p><img src="{{ image.image_path }}" alt="{{ image.title }}"></p>
						{% endfor %}

					</div>

				</div><!-- .row -->

			</div>

		</section>
		<!-- /PORTFOLIO CONTENT -->

		<!-- PAGINATION -->
		<section class="module-small p-t-50">

			<div class="container">
			
				<div class="pagination font-inc text-uppercase">
			
					<a href="#"><i class="fa fa-angle-left"></i> Prev</a>
					<a href="#">All works</a>
					<a href="#">Next <i class="fa fa-angle-right"></i></a>
			
				</div>
			
			</div>

		</section>
		<!-- /PAGINATION -->

		<!-- DIVIDER -->
		<hr class="divider-w">
		<!-- /DIVIDER -->