---
layout: default
---

        <!-- START page title section -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <h1>{{ page.title }}</h1>
                        <img src="../images/branding-border.png" alt="" class="heading-border">
                        <p>{{ page.subheading }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/ END page title section -->

        <div id="desktop-only">
            <!-- START parallax -->
            <div class="small-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fixed-bg parallax-image img-responsive" data-background="../assets/projects/ad-astra/1.jpg" data-stellar-background-ratio="0.5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ END parallax -->
        </div>

{{ content }}

        <!--START image gallery -->
        <div class="container">
            <div class="row"><br><hr><br>
                <div class="work-grids-area hover-one masonry" id="atom-works-grid">
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/5.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/5.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/3.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/3.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/6.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/6.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/1.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/1.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/2.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/2.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 atom-work-item architectural interactive">
                           <a href="../assets/projects/ad-astra/4.jpg" data-lightbox="ad-astra">
                               <img src="../assets/projects/ad-astra/4.jpg" alt="Ad Astra" class="img-responsive"/>
                           </a>
                        </div>
                </div>
            </div>
        </div>
        <!--/ END image gallery -->